<md-content>
    <section layout="row" layout-sm="column" layout-align="center center">
    <div layout-gt-sm="row">
    	<md-input-container flex>
        <label ng-bind-html="currency"></label>
        <input type="text" id="greedy-amount" ng-model="total" ng-minlength="1" ng-change="checkFormat(total)" valid-number ng-enter="calcChange(total)"/>
      </md-input-container>
     </div>
      <md-button class="md-raised md-primary" ng-click="calcChange(total)">Make Change</md-button>
  </section>


	<section layout="column" layout-fill style="padding-bottom: 32px;">
		<md-list-item class="md-2-line" layout layout-align="center center" ng-show="coin200 > 0">
			<img ng-src="/assets/images/2pounds.png" class="md-avatar" alt="2 pounds" />
			<div class="md-list-item-text">
      	<h3>{{coin200}}</h3>
        <p>&pound;2</p>
      </div>
		</md-list-item>
		<md-list-item class="md-2-line" layout layout-align="center center" ng-show="coin100 > 0">
			<img ng-src="/assets/images/1pound.png" class="md-avatar" alt="1 pound" />
			<div class="md-list-item-text">
      	<h3>{{coin100}}</h3>
        <p>&pound;1</p>
      </div>
		</md-list-item>
		<md-list-item class="md-2-line" layout layout-align="center center" ng-show="coin50 > 0">
			<img ng-src="/assets/images/50pence.png" class="md-avatar" alt="50 pence" />
			<div class="md-list-item-text">
      	<h3>{{coin50}}</h3>
        <p>50 pence</p>
      </div>
		</md-list-item>
		<md-list-item class="md-2-line" layout layout-align="center center" ng-show="coin20 > 0">
			<img ng-src="/assets/images/20pence.png" class="md-avatar" alt="20 pence" />
			<div class="md-list-item-text">
      	<h3>{{coin20}}</h3>
        <p>20 pence</p>
      </div>
		</md-list-item>
		<md-list-item class="md-2-line" layout layout-align="center center" ng-show="coin2 > 0">
			<img ng-src="/assets/images/2pence.png" class="md-avatar" alt="2 pence" />
			<div class="md-list-item-text">
      	<h3>{{coin2}}</h3>
        <p>2 pence</p>
      </div>
		</md-list-item>
		<md-list-item class="md-2-line" layout layout-align="center center" ng-show="coin1 > 0">
			<img ng-src="/assets/images/1penny.png" class="md-avatar" alt="1 penny" />
			<div class="md-list-item-text">
      	<h3>{{coin1}}</h3>
        <p>1 penny</p>
      </div>
		</md-list-item>
	</section>

<!--
	<section>
		<md-list-item class="md-2-line" layout layout-align="center center" ng-repeat="coin in coins" id="coins[$index]">
        <img ng-src="{{coin.img}}" class="md-avatar" alt="{{coin.name}}" />
        <div class="md-list-item-text">
        	<h3>{{$parent.coin2}}</h3>
          <p>{{ coin.name }}</p>
        </div>
      </md-list-item>
	</section>
-->

</md-content>
